html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
    /* font-family: 'Monoton', cursive; */
    letter-spacing: 0.1rem;
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    background-color: whitesmoke;
}

header {
    margin-bottom: 5px;
}

.container {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
    background-color: white;
    -webkit-box-shadow: 0px 30px 25px 6px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 30px 25px 6px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 30px 25px 6px rgba(0, 0, 0, 0.3);
}

.displaced {
    transform: translateY(-10000px);
}

.victory-screen {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    position: absolute;
    z-index: 100;
}

.wrapper {
    text-align: center;
    margin-top: 2rem;
    /* position: relative; */
    /* top: 40vh; */
    /* top: 50%; */
    /* position the top  edge of the element at the middle of the parent */
    /* left: 50%; */
    /* position the left edge of the element at the middle of the parent */
    /* transform: translate(-50%, -50%); */
    /* need to see whats going on in larger screens */
}

.new-game {
    border-radius: 5px;
}

.moves {
    padding-right: 1vw;
}

/* Test CSS */

/* start rotate */

/* .restart {
    transition: transform 0.6s linear;
    display: inline-block;
}
.rotateIcon {
    transform: rotateZ( 360deg );
}
.rotateIconContainer {
    transform: rotateZ( 360deg );
}  */

/* 

*/

.rotate {
    animation: 0.5s rotate-Z;
    animation-timing-function: linear;
}

.restart {
    display: inline-block;
}

.restart:hover {
    cursor: pointer;
}

@keyframes rotate-Z {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(90deg);
    }
    50% {
        transform: rotateZ(180deg);
    }
    75% {
        transform: rotateZ(270deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

/* end rotate */

.deck {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-content: space-between; */
}

img {
    max-width: 100%;
    height: auto;
}

.card-icon {
    font-size: calc(22vw / 2);
    position: relative;
    top: calc(22vw / 4);
}

.title {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    font-size: 8vw;
}

.score-panel {
    text-align: left;
    width: 97vw;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 4vw;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.fa-star {
    color: gold;
}

.faded-star {
    color: grey;
}

.score-stars {
    margin-bottom: 1.5rem;
    font-size: 3rem;
}
/* CARD FLIPPING */

.card-container {
    width: 22vw;
    height: 22vw;
    position: relative;
    perspective: 800px;
    margin: auto auto 1.5vw auto;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #000000;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.card-figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #000000;
}

.front {
    /* background: red; */
    /* background-image: url("../img/wood2_embosed_clouds.jpg"); */
    background: rgb(242,200,191);
    background: -moz-radial-gradient(center, ellipse cover, rgba(242,200,191,1) 0%, rgba(191,103,91,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(242,200,191,1) 0%,rgba(191,103,91,1) 100%);
    background: radial-gradient(ellipse at center, rgba(242,200,191,1) 0%,rgba(191,103,91,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2c8bf', endColorstr='#bf675b',GradientType=1 );

}

.back {
    /* background: blue; */
    background: rgb(150,178,149);
    background: -moz-radial-gradient(center, ellipse cover, rgba(150,178,149,1) 0%, rgba(75,30,255,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(150,178,149,1) 0%,rgba(75,30,255,1) 100%);
    background: radial-gradient(ellipse at center, rgba(150,178,149,1) 0%,rgba(75,30,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b295', endColorstr='#4b1eff',GradientType=1 );
    transform: rotateY( 180deg);
}

.flipped {
    transform: rotateY( 180deg);
}

.matched .back {
    background: rgb(150,178,149);
    background: -moz-radial-gradient(center, ellipse cover, rgba(150,178,149,1) 0%, rgba(30,255,38,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(150,178,149,1) 0%,rgba(30,255,38,1) 100%);
    background: radial-gradient(ellipse at center, rgba(150,178,149,1) 0%,rgba(30,255,38,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96b295', endColorstr='#1eff26',GradientType=1 );
}

/*ANIMATE IT  */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

@-webkit-keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes tada {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10%,
    20% {
        -webkit-transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(0.7, 0.7, 0.7) rotate3d(0, 0, 1, -3deg);
    }
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, 3deg);
    }
    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.05, 1.05, 1.05) rotate3d(0, 0, 1, -3deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada;
}

@media screen and (min-width: 750px) {
    .card-container {
        width: 180px;
        height: 180px;
        margin: auto auto 7.5px auto;
    }
    .title {
        padding-top: 0.25rem;
        font-size: 5rem;
    }
    .score-panel {
        text-align: left;
        width: calc(750px - 0.5vw);
        margin: 0.25rem auto 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2rem;
    }
    .card-icon {
        font-size: calc(180px / 2);
        position: relative;
        top: calc(180px / 4);
    }
}
