html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Audiowide', cursive;
    /* font-family: 'Monoton', cursive; */
    letter-spacing: 0.1rem;
}

header {
    margin-bottom: 5px;
}

.container {
    position: relative;
    max-width: 750px;
    margin: 0 auto;
}

.displaced {
    transform: translateY(-10000px);
}

.victory-screen {
    width: 100%;
    height: 100%;
    background-color: rgba(120, 44, 44, 1);
    position: absolute;
    z-index: 100;

}

.wrapper {
    text-align: center;
    position: relative;
    /* top: 40vh; */
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translate(-50%, -50%);
    /* need to see whats going on in larger screens */
}

.moves {
    padding-right: 1vw;
}

/* Test CSS */
/* start rotate */

/* .restart {
    transition: transform 0.6s linear;
    display: inline-block;
}
.rotateIcon {
    transform: rotateZ( 360deg );
}
.rotateIconContainer {
    transform: rotateZ( 360deg );
}  */
/* 

*/
.rotate {
    animation: 0.5s rotate-Z;
    animation-timing-function: linear;
}

.restart {
    display: inline-block;
}

.restart:hover {
    cursor: pointer;
}

@keyframes rotate-Z {
    0%   { transform: rotateZ(0deg ); } 
    25%  { transform: rotateZ(90deg ); }
    50%  { transform: rotateZ(180deg ); }
    75% { transform: rotateZ(270deg ); }
    100% { transform: rotateZ(360deg ); }
}


/* end rotate */

.deck {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-content: space-between; */
}

img {
    max-width: 100%;
    height: auto;
}

.card-icon {
    font-size: calc(22vw / 2);
    position: relative;
    top: calc(22vw / 4);
}

.title {
    text-align: center;
    margin: 0;
    padding-top: 1rem;
    font-size: 8vw;
}

.score-panel {
    text-align: left;
    width: 97vw;
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 4vw;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.fa-star {
    color: gold;
}

.faded-star {
    color: grey;
}
/* CARD FLIPPING */

.card-container {
  width: 22vw;
  height: 22vw;   
  position: relative;
  perspective: 800px;
  margin: auto auto 1.5vw auto;
}

.card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card-figure {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
}

.front {
    background: red;
  }

.back {
    background: blue;
    transform: rotateY( 180deg );
}

.flipped {
    transform: rotateY( 180deg );
}

.matched .back {
    background: green;
}









@media screen and (min-width: 750px) {
    .card-container {
        width: 180px;
        height: 180px;   
        margin: auto auto 7.5px auto;
      }

    .title {
        padding-top: 0.25rem;
        font-size: 5rem;
    }
    
    .score-panel {
        text-align: left;
        width: calc(750px - 0.5vw);
        margin: 0.25rem auto 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2rem;
    }

    .card-icon {
        font-size: calc(180px / 2);
        position: relative;
        top: calc(180px / 4);
    }

}









 /* MEDIA - LANDSCAPE ORIENTATION */
 @media print and (orientation: landscape) {
     .container {
         /* position: relative;
         display: flex;
         flex-wrap: nowrap; */
         margin: 0 auto;
         max-width: 55vw;
     }

    /* header {
        width: 40vw;
        order: -1;

    } */


    .card-container {
        width: 12vw;
        height: 12vw;   
        position: relative;
        perspective: 800px;
        margin: auto auto 1.25vw auto;
      }

      .card-icon {
        font-size: calc(12vw / 2);
        position: relative;
        top: calc(12vw / 4);
        /* I think I could Achieve the same results if i gave .container width:100vw and its childrens width/height would 
        be calculated with percenteges .card-container width/height: 24%
        */
    }
    
    .title {
        text-align: center;
        margin: 0;
        padding-top: 0.25rem;
        font-size: 4.8vw;
    }
    
    .score-panel {
        text-align: left;
        width: 57.1vw;
        margin: 0.25rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-size: 2.4vw;
    }

  }


/* next @media should be at 650 after that you can fix the size */


@media screen and (min-width: 3600px) {
    /* CARD FLIPPING - original*/
    .card-container { 
        width: 200px;
        height: 260px;
        position: relative;
        perspective: 800px;
      }
      
      .card {
          width: 100%;
          height: 100%;
          position: absolute;
          transform-style: preserve-3d;
          transition: transform 1s;
      }
      
      .card-figure {
          margin: 0;
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          backface-visibility: hidden;
      }
      
      .front {
          background: red;
        }
      
      .back {
          background: blue;
          transform: rotateY( 180deg );
      }
      
      .flipped {
          transform: rotateY( 180deg );
      }

}